<!-- _includes/business-hours.html -->
<div class="container">
            <div class="business-hours">
               <div class="business-hour sunday">
                  <p><b>SUN</b></p>
                  <p>11AM - 7PM</p>
               </div>
               <div class="business-hour montuesday">
                  <p><b>MON + TUES</b></p>
                  <p>Monday 12PM - 6PM<br>Tuesday CLOSED</p>
               </div>
               <div class="business-hour wednesday">
                  <p><b>WED</b></p>
                  <p>CLOSED</p>
               </div>
               <div class="business-hour thursday">
                  <p><b>THURS</b></p>
                  <p>4PM - 8PM</p>
               </div>
               <div class="business-hour friday">
                  <p><b>FRI</b></p>
                  <p>4PM - 10PM</p>
               </div>
               <div class="business-hour saturday">
                  <p><b>SAT</b></p>
                  <p>12PM - 10PM</p>
               </div>
            </div>
</div>
