<script>
    // This script will run before any HTML is rendered
    document.addEventListener('DOMContentLoaded', function () {
      const cookiesAccepted = localStorage.getItem('cookiesAccepted');
      if (cookiesAccepted === null) {
        // If no decision yet, make the banner visible
        document.getElementById('cookie-banner').style.display = 'block';
      } else if (cookiesAccepted === 'true') {
        // If cookies were accepted, load analytics immediately
        loadGoogleAnalytics();
      }
    });

    function loadGoogleAnalytics() {
      var script = document.createElement("script");
      script.async = true;
      script.src = "https://www.googletagmanager.com/gtag/js?id=G-G2VXSD6SG9";
      document.head.appendChild(script);

      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-G2VXSD6SG9', {
        'anonymize_ip': true
      });
    }
  </script>


      <title>The Arena - Sarnia Laser Tag</title>
      <!-- Other meta tags and links -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-status-bar-style" content="translucent">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Dive into adventure at Sarnia's ultimate spot with laser tag, rock climbing, and mini golf. Visit The Arena in Sarnia for an unforgettable experience!">
      <meta name="keywords" content="Sarnia, laser tag, rock climbing, mini golf, group events, fun activities, family entertainment, Sarnia laser tag, The Arena Sarnia, birthday parties">
      <meta property="og:title" content="The Arena - Sarnia's Ultimate Adventure Spot" />
      <meta property="og:description" content="Get ready for an unforgettable experience at The Arena in Sarnia! Enjoy thrilling laser tag, challenging rock climbing, and relaxing mini golf all in one place. Perfect for families, groups, and adventure-seekers." />
      <meta property="og:image" content="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1729955525/previewsocial.png" />
      <!-- Theme color for mobile browsers -->
      <meta name="theme-color" content="var(--arena-purple)">
      <!-- Favicon -->
      <link rel="icon" href="images/favicon.png" type="image/png">
      <!-- Apple Touch Icon (for iOS devices when added to home screen) -->
      <link rel="apple-touch-icon" href="images/icon.png">
      <!-- Styles and links -->
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805062/slide01_ntfdq3.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805062/slide02_qnp48e.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805062/slide03_l6jgoz.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805062/slide04_po0zbq.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805062/slide05_w7tosn.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725805064/slide06_s3ixrt.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725840536/slide07_urkz1b.png" as="image">
      <link rel="preload" href="https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1725840536/slide08_zi7cym.png" as="image">
      <link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.min.css">
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <link rel="stylesheet" href="style.css">