<header class="site-header">
    <div class="header-inner">
        <div class="logo">
			<img src="https://sarnialasertag.com/images/logo_tagline.svg">
        </div>
        <nav class="nav desktop-nav">
            <a href="#">Activities</a>
            <a href="#">Prices</a>
            <a href="#">Promotions</a>
            <a href="#">Book Online</a>
            <a href="#">eGift Cards</a>
            <a href="#">Contact Us</a>
        </nav>

        <div class="mobile-menu-toggle" onclick="toggleMenu()"><i class='bx bx-menu'></i></div>
    </div>

    <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-menu-header">
            <span onclick="toggleMenu()"><i class='bx bx-x-circle'></i></span>
        </div>
        <nav class="mobile-nav">
            <a href="#">Activities</a>
            <a href="#">Prices</a>
            <a href="#">Promotions</a>
            <a href="#">Book Online</a>
            <a href="#">eGift Cards</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>
</header>
