<div class="container">

    <!-- THREE COLUMN -->
		{% if include.title %}
			<h2 class="sparkle-heading">
			  <img src="assets/images/sparkle_01.svg" alt="" class="sparkle-icon">
			  <span>{{ include.title }}</span>
			  <img src="assets/images/sparkle_02.svg" alt="" class="sparkle-icon">
			</h2>
		{% endif %}
	<div class="section columns-3">
		<div class="column">
			<img src="https://sarnialasertag.com/images/hero/minigolf-hero.webp" alt="">
			<h3>Mini Golf</h3>
			<p>Relax and have fun with our 10-hole mini golf course perfect for all ages.</p>
				<ul class="icon-list">
				  <li>Indoor course</li>
				  <li>Colourful obstacles</li>
				  <li>Family friendly</li>
				</ul>
			<a href="#" class="button">View Pricing</a>
		</div>
		<div class="column">
			<img src="https://sarnialasertag.com/images/hero/lasertag-hero.webp" alt="">
			<h3>Laser Tag</h3>
			<p>Challenge your friends in our multi-level laser tag arena filled with adventure.</p>
				<ul class="icon-list">
				  <li>Indoor course</li>
				  <li>Colourful obstacles</li>
				  <li>Family friendly</li>
				</ul>
			<a href="#" class="button">View Pricing</a>
		</div>
		<div class="column">
			<img src="https://sarnialasertag.com/images/hero/rockclimb-hero.webp" alt="">
			<h3>Rock Climbing</h3>
			<p>Reach new heights with beginner to advanced rock climbing walls.</p>
				<ul class="icon-list">
				  <li>Indoor course</li>
				  <li>Colourful obstacles</li>
				  <li>Family friendly</li>
				</ul>
			<a href="#" class="button">View Pricing</a>
		</div>
	</div>

</div>
