:root {
    --arena-purple: #44148f;
    --arena-dark-purple: #320775;
    --arena-magenta: #990099;
    --arena-pink: #ffb0db;
	--arena-green: #d5de58;
    --arena-light-gray: #eee;
    --arena-white: #fff;
    --arena-black: #090909;
    --arena-black-30: rgba(9, 9, 9, 0.43);
    --arena-dark-blue: #14088e;
    --arena-light-blue: #8ac2d9;
    --arena-blue: #3292e0;
    --arena-lavender: #be95ff;
    --arena-deep-purple: #8b40ff;
    --arena-light-purple: #d0a4e1;
    --arena-teal: #6cf7f3;
    --arena-dark-gray: #333;
    --arena-yellow: #edf763;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--arena-dark-purple);
}

::-webkit-scrollbar-thumb {
    background: var(--arena-purple);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--arena-magenta);
}

h1, h2, h3 {
    font-family: 'Bricolage Grotesque', sans-serif;        
}
.headershadow {
    text-shadow: 3px 3px 0px var(--arena-black-30);
}

/* Styles for the cookie consent banner */
#cookie-banner {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 60%;
    max-width: 500px;
    background: var(--arena-white);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    color: var(--arena-dark-gray);
    border-radius: 8px;
    z-index: 99;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Styles for the banner text and link */
#cookie-banner span {
    flex: 1;
    min-width: 100%;
    text-align: center;
}

#learn-more-link {
    color: var(--arena-black);
    text-decoration: underline;
}

/* Styles for the accept and decline buttons */
#accept-cookies-btn,
#decline-cookies-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    flex: 0 0 auto;
}

#accept-cookies-btn {
    background: var(--arena-black);
    color: var(--arena-white);
}

#decline-cookies-btn {
    background: #ccc;
    color: var(--arena-black);
}

/* Mobile-specific styles using a media query */
@media (max-width: 768px) {
    #cookie-banner {
        left: 5px;
        right: 5px;
        bottom: 5px;
        width: auto;
        max-width: none;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    #cookie-banner span {
        text-align: left;
        margin-bottom: 10px;
    }

    #accept-cookies-btn, 
    #decline-cookies-btn {
        width: 100%;
        margin-bottom: 5px;
    }
}

.boxshadow	{
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
}

/* General CSS to set the initial state */
.logo-large {
    display: block; /* Show logo for large screens by default */
}

.logo-mobile {
    display: none; /* Hide mobile logo by default */
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .logo-large {
        display: none; /* Hide large logo on smaller screens */
    }

    .logo-mobile {
        display: block; /* Show mobile logo on smaller screens */
    }
}

/* Apply the underline effect only to links with the underline-effect class */
.underline-effect {
    position: relative;
    text-decoration: none;
    color: var(--arena-white);
    display: inline-block;
    transition: all 0.3s ease-in-out;
    padding-bottom: 0;
    z-index: 1;
}

.underline-effect::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px; /* Starting height */
    left: -1.5px;
    bottom: -2px;
    background-color: var(--arena-yellow);
    transition: height 0.3s ease-in-out;
    z-index: -1;
}

.underline-effect:hover {
    color: var(--arena-purple);
}

.underline-effect:hover::after {
    height: 100%; /* Expand height to cover the entire link */
}

/* Remove the pseudo-element for links that contain images */
.underline-effect:has(img)::after {
    content: none;
}

/* Specific styles for navigation links */
nav ul li a {
    font-size: 1.1em;
    color: var(--arena-white);
    text-decoration: none;
    position: relative;
    padding-bottom: 0px;
    transition: color 0.3s ease-in-out; /* Add a transition for the text color */
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    left: 0;
    bottom: -2px;
    background-color: var(--arena-yellow);
    transition: width 0.3s ease-in-out;
    border-radius: 20px;
}

nav ul li a:hover {
    color: var(--arena-white); /* Ensure the text color is white on hover */
}

nav ul li a:hover::after {
    width: 100%;
    height: 2.5px;
}

/* Avoid applying the underline effect to buttons styled as links */
button, .btn, .no-underline {
    text-decoration: none !important;
}

/* Icon link styles */
.icon-link {
    color: var(--arena-white);
    font-size: 1.5em;
    text-decoration: none !important; /* Ensure no underline */
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 0; /* Reset padding */
}

.icon-link::after {
    content: none; /* Remove the underline pseudo-element */
}

.icon-link:hover {
    color: var(--arena-yellow);
    text-decoration: none !important; /* Force remove underline */
}

.icon-link i {
    text-decoration: none !important; /* Apply to the icon itself */
}



section {
    margin-bottom: 40px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1723741684/doodle_bg_yhstgv.png');
    background-color: var(--arena-dark-purple);
    background-size: 30%;
    color: var(--arena-light-gray);
    scroll-behavior: smooth;
	overflow-x: hidden;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.purplebg {
    background-color: var(--arena-purple);
}

.spacewaves {
	background-image:url(images/ui/spacewave-top.webp);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

@media (max-width: 768px) {
.spacewaves {
	background-image:url(images/ui/spacewave-top.webp);
	background-size: 150%;
	background-repeat: no-repeat;
}
}
.darkpurplebg {
    background-color: var(--arena-dark-purple);
}

.header {
    background: var(--arena-dark-purple);
    color: var(--arena-white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}

.header img {
    width: 250px;
}

.backtotop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: -60px; /* Start off-screen */
    background: var(--arena-white);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    z-index: 99;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: right 0.1s ease, opacity 0.3s ease;
    opacity: 0;
    text-decoration: none;
    display: flex;
}

.backtotop.show {
    right: 15px; /* Slide in to this position */
    opacity: 1; /* Fade in */
    display: flex;
}

.top-icon {
    color: var(--arena-black);
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.full-nav {
    /* Add your styles for the full navigation here */
}

.mobile-nav {
    display: none; /* Hide by default */
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove top margin */
    display: flex; /* Change to flex */
    flex-direction: column; /* Change to column */
    align-items: center; /* Center items horizontally */
}

.mobile-nav ul li {
    padding: 20px;
    text-align: center;
    width: 100%; /* Make list items full width */
}

.mobile-nav ul li a {
    color: var(--arena-white);
    text-decoration: none;
    font-size: 1.2em;
}

.mobile-nav ul li a:hover {
    text-decoration: none;
}

.menu-icon {
    display: none;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--arena-white);
    cursor: pointer;
    font-size: 2em;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.hero .text {
    width: 70%;
	margin: 25px;
}

.hero .text h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
}

.hero .image {
    width: 50%;
    display: flex;
    justify-content: right;
}

.starbg {
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1714252618/spacebro-bg_mjhgk4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero img {
    width: 100%;
    height: auto;
	padding: 20px;	
}

.main img {
    width: 100%;
    max-width: 500px !important;
    padding: 20px;
    margin-top: 20px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}



.hero button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: var(--arena-magenta);
    color: var(--arena-white);
    border: 2px solid var(--arena-black);
    border-radius: 8px;
    box-shadow: 0px 7px 0px var(--arena-black-30);
    cursor: pointer;
    margin: 20px;
}

.hero button:hover {
    background-color: var(--arena-purple);
    transition: 0.3s ease-in-out;
}

.welcome-message {
    position: relative;
    display: inline-block;
    font-size: 3em; /* Adjust as needed */
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.welcome-message::before,
.welcome-message::after {
    content: '';
    position: absolute;
    width: 1.2em; /* Size of the icon */
    height: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome-message::before {
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1723999636/sparkle_01_awkaoa.svg'); /* Left icon */
    top: 30%;
    left: -40px; /* Position to the left of the text */
    transform: translateY(-50%);
}

.welcome-message::after {
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1723999635/sparkle_02_tvwfyk.svg'); /* Right icon */
    top: 70%;
    right: -40px; /* Position to the right of the text */
    transform: translateY(-50%);
}

.full-width {
    width: 100% !important;
    align-items: center;
    text-align: center;
}

.circle {
    padding: 50px;
    border-radius: 50%;
    border: 2px dashed var(--arena-light-gray);
    margin: 20px;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 0px;
}

.welcome p {
    font-weight: bold;
    letter-spacing: 0.10rem;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--arena-light-purple);
}

.activities {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 40px;
}

.activity {
    flex: 1 1 auto;
    width: calc(100% / 3);
    margin: 10px;
    padding: 20px 20px;
    background: var(--arena-white);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    text-align: center;
}

.activity img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--arena-black);
}

.activity div.text-content {
    flex: 1;
}

.activity h3, .activity p {
    margin: 0;
    font-size: 1rem;
}

.activity h3 {
    margin: 10px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--arena-dark-gray);
}

.activity p {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    color: var(--arena-dark-gray);
}

.pricing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price-category {
    width: calc(50% - 60px);
    background: var(--arena-white);
    margin-bottom: 20px;
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--arena-dark-gray);
}

.price-item, .group-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: calc(50% - 10px);
}

.price-div {
	border-bottom: 0px dashed var(--arena-purple);
}

.price-item img, .group-package img {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.price-item, .group-package > div {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted to manage spacing dynamically */
    padding: 0px;
}

.testimonial {
    flex: 0 0 calc(25% - 20px); /* Adjust the width to accommodate 4 items per row accounting for margin */
    margin: 10px;
    padding: 20px;
    background: var(--arena-white);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: var(--arena-dark-gray);
}

.testimonial h3 {
    margin-bottom: 0px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid var(--arena-black);
}

@keyframes wiggle-lefttilt {
    0%, 100% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }
}

@keyframes wiggle-righttilt {
    0%, 100% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }
}

.testimonial.lefttilt:hover {
    animation: wiggle-lefttilt 1s ease-in-out infinite;
}

.testimonial.righttilt:hover {
    animation: wiggle-righttilt 1s ease-in-out infinite;
}

.pink {
    background-color: var(--arena-pink);
}

.blue {
    background-color: var(--arena-blue);
}

.yellow {
    background-color: var(--arena-yellow);
}

.righttilt {
    transform: rotate(1deg);
}

.lefttilt {
    transform: rotate(-1deg);
}

.hours {
    color: var(--arena-white);
    padding: 0px;
    text-align: center;
}

.threepath {
    width: 70%;
    margin: auto;
}

.squiggle-right {
    width: 70%;
    margin: auto;
    transform: scaleX(-1);
}

.onepath {
    display: none;
}

.squiggle {
    display: none;
}

.straightpath {
    display: none;
}

.highlight-yellow {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}

.highlight-yellow::before {
    content: "";
    background-color: var(--arena-dark-blue);
    position: absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(-0.5deg);
    overflow: hidden;
}

.highlight-pink {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}

.highlight-pink::before {
    content: "";
    background-color: var(--arena-pink);
    position: absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(0.5deg);
}

.highlight-pink-text {
    color: #e052a1;
    font-weight: bold;
}

.highlight-blue {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}

.highlight-blue::before {
    content: "";
    background-color: var(--arena-light-blue);
    position: absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(-0.3deg);
}

.highlight-blue-text {
    color: var(--arena-blue);
    font-weight: bold;
}

.highlight-purple {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}

.highlight-purple::before {
    content: "";
    background-color: var(--arena-lavender);
    position: absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(0.5deg);
}

.highlight-purple-text {
    color: var(--arena-deep-purple);
    font-weight: bold;
}

.business-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9em;
}

.business-hour {
    flex-basis: calc(16.666% - 20px);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 5px 0px var(--arena-black-30);
    color: var(--arena-white);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    background: linear-gradient(to bottom, var(--arena-teal) 50%, var(--arena-white) 50%);
    overflow: hidden;
}

.business-hour b {
    color: var(--arena-dark-gray);
    font-family: 'Bricolage Grotesque';
}

.business-hour p {
    color: var(--arena-dark-gray);
    font-family: 'Roboto Mono', monospace;
	padding-top: 0px;
	padding-bottom: 10px;
}

.highlight {
    background: linear-gradient(to bottom, var(--arena-yellow) 50%, var(--arena-white) 50%);
    overflow: hidden;
}

.business-hour.highlight b {
    color: var(--arena-dark-gray);
    font-weight: 800;
}

.double {
    width: calc(100% - 10px);
}

.double h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin: 10px 0 40px 0;
    font-family: "Bricolage Grotesque";
}

.ribbon {
    background-color: var(--arena-purple);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid var(--arena-black);
    border-bottom: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    margin: 80px 0px 80px 0px;
}

.ribbontext {
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 1.2em !important;
    letter-spacing: 2.5px;
    color: var(--arena-light-gray);
}

.iframe-container {
    width: 100%;
    max-width: 1200px;
    height: 720px;
    overflow: hidden;
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    margin-top: 40px;
    background-color: var(--arena-white);
}

.toggleHeader {
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    cursor: pointer;
    max-width: 100%;
    background-color: var(--arena-white);
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--arena-dark-gray);
    border-radius: 8px;
}

.faqcontent {
    display: none;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: var(--arena-purple);
    border-radius: 8px;
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
}

.faqcontent p {
    font-family: Roboto Mono;
}

.faqcontent h2 {
    font-family: Roboto Mono;
}

.faqbx {
    font-size: 32px;
    color: var(--arena-dark-gray);
    vertical-align: middle;
}

.scroll-container {
    position: relative;
    width: 100%; /* Fixed width */
    height: 600px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto; /* Center the container */
}

.message {
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-left, .text-right {
    display: inline-block;
    width: 450px;
}

.giftcard {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 410px;
    border-radius: 25px;
    transition: transform 0.5s ease;
    z-index: 2;
    image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
    image-rendering: crisp-edges; /* Firefox */
}

.bounce-left {
    transform: translateX(-500px) translateY(-50%);
}

.bounce-right {
    transform: translateX(0) translateY(-50%);
}

.phone-icon {
    font-size: 1.5em;
    border: 3px solid var(--arena-dark-purple);
    border-radius: 50%;
    padding: 10px;
}

.check-icon {
    color: var(--arena-deep-purple);
    margin-left: -9px;
    padding: 0;
    font-weight: 800;
	font-size: 1.3em;
	
}

.icon-sparkle, .icon-twinkle {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-sparkle {
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1723999636/sparkle_01_awkaoa.svg');
}

.icon-twinkle {
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/q_auto/v1723999635/sparkle_02_tvwfyk.svg');
}

.footer {
    background-color: var(--arena-purple);
    padding: 20px 20px;
    color: var(--arena-light-gray);
    text-align: center;
	background-image:url(images/ui/spacewave-btm.webp);
	background-size: 100%;
	background-repeat: no-repeat;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    font-size: 1em;
}

.footer-section h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    margin: 15px 0;
    color: var(--arena-white);
    text-decoration: none;
}

.social-icons a {
    color: var(--arena-white);
    font-size: 2em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--arena-yellow);
    text-decoration: none !important;
}

.footer-bottom {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

.svg-mobile {
    display: none; /* Hide the fallback image by default */
}

.svg-desktop {
    display: block; /* Show SVG by default */
}

@media (max-width: 768px) {
    .svg-mobile {
        display: block; /* Show the fallback image on smaller screens */
    }
    .svg-desktop {
        display: none; /* Hide SVG on smaller screens */
    }
}


/* Booking section styles */
.booking-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.booking-package {
    width: calc(33% - 80px); /* Four items per row */
    background: var(--arena-white);
    margin-bottom: 20px;
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--arena-dark-gray);
    position: relative; /* Ensure the button is positioned relative to the div */
    padding-bottom: 80px; /* Add padding to create space for the button */
}

.booking-package img {
    width: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.booking-package h3 {
    margin: 10px;
    font-size: 2.1rem;
    font-weight: 800;
    color: var(--arena-dark-gray);
    text-align: center;
	align-items: bottom;
    min-height: 60px; /* Ensure consistent height for all headings */
}

.booking-package p {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--arena-dark-gray);
    margin-bottom: 40px;
	text-align: center;
}

.booking-package .price {
    font-size: 1.3rem;
    text-align: center;
}


.booking-package packtime {
	font=size: 1.1rem;
	text-align: center;
}

.booking-package ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    flex-grow: 1; /* Make the list take up available space */
}

.booking-package ul li {
    font-family: 'Roboto Mono', monospace;
    color: var(--arena-dark-gray);
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
}

.booking-package ul li i {
    color: var(--arena-deep-purple);
    margin-right: 10px;
}


.booking-package .book-now-btn {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 10px 20px;
	width: 110px;
	margin-bottom: 20px;
    background-color: var(--arena-magenta);
    color: var(--arena-white);
    border: 2px solid var(--arena-black);
    border-radius: 8px;
    box-shadow: 0px 7px 0px var(--arena-black-30);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute; /* Position the button absolutely within the div */
    bottom: 20px; /* Align it to the bottom of the div */
    left: 50%;
    transform: translateX(-50%);
	text-decoration: none;
}

.booking-package .book-now-btn:hover {
    background-color: var(--arena-purple);
}

/* Specials section styles */
.specials-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.specials-package {
    width: calc(50% - 80px); /* Four items per row */
    background: var(--arena-white);
    border: 2px solid var(--arena-black);
    box-shadow: 0px 7px 0px var(--arena-black-30);
    border-radius: 8px;
    padding: 20px;
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--arena-dark-gray);
    position: relative; /* Ensure the button is positioned relative to the div */
}

.specials-package img {
    width: 360px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.specials-package h3 {
    margin: 10px;
    font-size: 2.1rem;
    font-weight: 800;
    color: var(--arena-dark-gray);
    text-align: center;
    align-items: bottom;
    min-height: 60px; /* Ensure consistent height for all headings */
}

.specials-package p {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--arena-dark-gray);
    margin-bottom: 40px;
    text-align: center;
}

.specials-package .price {
    font-size: 1.3rem;
    text-align: center;
}

.specials-package packtime {
    font=size: 1.1rem;
    text-align: center;
}

.specials-package ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    flex-grow: 1; /* Make the list take up available space */
}

.specials-package ul li {
    font-family: 'Roboto Mono', monospace;
    color: var(--arena-dark-gray);
    margin-bottom: 10px;
    align-items: left;
    font-size: 1rem;
}

.specials-package ul li i {
    color: var(--arena-deep-purple);
    margin-right: 10px;
}

    .weekly img {
	width: 100%;
    max-width: 300px !important;
    padding: 20px;
    margin-top: 40px;
    border-radius: 0 0 40px 0;
}
	.weeklydeals-lg {
    	display: flex;
    	width: 80%;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
		margin-top: 20px;
		}
		
.carousel {
  width: 100%;
  height: auto; /* Keep auto height for dynamic adjustment */
  overflow: visible; /* Allow rotated images to overflow */
  position: relative; /* Necessary for ::before to be relative to carousel */
  margin-top: 0px;
  background-size: 30%;
  background-repeat: repeat-x;
  background-position: center;
}




.carousel-cell {
  margin-right: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}

.carousel img {
  max-height: 80%; /* Ensure image fits within the carousel height */
  height: 230px;
  width: 250px; /* Maintain aspect ratio */
  object-fit: cover;
  display: block;
  border-radius: 8px;
  box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.3);
  transform-origin: center; /* Ensure rotation happens around the center */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel {
    height: auto; /* Adjust height for smaller screens */
	padding-bottom: 40px;
	background-size: 100%;
  }
  .carousel img {
	width: 250px;
	}
}

@media (max-width: 480px) {
  .carousel {
    height: auto; /* Adjust height for mobile */
	margin-top: 0px;
  }
  .carousel img {
    max-height: 90%; /* Keep the image size consistent */
  }
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .booking-package {
        width: 100%; /* Make each package take up full width on small screens */
        padding-bottom: 80px; /* Adjust padding for mobile screens */
    }
	
    .specials-package {
        width: 100%; /* Make each package take up full width on small screens */
        padding-bottom: 20px; /* Adjust padding for mobile screens */
    }
	.specials-package img {
		width: 260px;
	}

    .booking-package .book-now-btn {
        bottom: 20px; /* Keep the button aligned to the bottom */
    }
}







@media (max-width: 768px) {
	.weeklydeals-lg {
    	display: flex;
    	width: 100%;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
		}

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        text-align: center;
    }
	.footer {
		background-position: bottom;
		background-size: 150%;
		background-repeat: no-repeat;		
	}

}

@media (max-width: 768px) {
    body, html {
        background-size: 100%;
    }

    .header img {
        width: 150px;
    }

    .full-nav {
        display: none;
    }

    .menu-icon {
        display: block;
        color: var(--arena-white);
        font-size: 2em;
    }

    .mobile-nav.active {
        right: 0;
    }

    .mobile-nav {
        display: flex; /* Show only on smaller screens */
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background: var(--arena-dark-purple);
        transition: 0.5s ease;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero .text, .hero .image {
        width: 100%;
        margin: auto;
    }

    .hero .image {
        justify-content: center;
    }

    .main img {
        width: 100%;
        max-width: 100% !important;
    }

    .hero .text h1 {
        font-size: 2.5rem;
    }

    .welcome h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .activities {
        flex-direction: column;
    }

    .activity {
        width: auto;
    }

    .pricing, .price-category {
        width: 100%;
    }

    .price-item, .group-package {
        width: 100%;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        width: auto;
        margin-bottom: 40px;
    }

    .threepath {
        display: none;
    }

    .onepath {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    .squiggle {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    .squiggle-right {
        display: none;
    }

    .straightpath {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    .rev {
        transform: rotate(180deg);
    }

    .double h1 {
        text-align: center;
    }
	
	.ribbon {
		margin: 0px;
		margin-bottom: 40px;
	}

    .ribbontext {
        font-size: 0.5em !important;
        letter-spacing: 1px;
    }

    .business-hour {
        flex-basis: calc(50% - 20px);
    }

    .icon-sparkle, .icon-twinkle {
        width: 1em;
        height: 1em;
    }
}

@media (max-width: 340px) {
    .hero .text h1 {
        font-size: 2rem;
    }
}